doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(charset="UTF-8")
    block title
      title NISER | Canteen Menu
    meta(name="description", content="NISR | Canteen Menu")
    meta(name="author", content="Abhishek Anil Deshmukh")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="./css/style.css")
    //- [if lt IE 9]
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    //- [endif]
    block headVendor
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="./js/main.js")
    block head
  body
    block body
