extends include/_base

block title
  title NISER | Canteen Menu

block append body
  header NISER | Canteen Menu
  main.swipe-view
    section#breakfast
      div.meal Breakfast
      div.canteen-card#skeleton
        span.canteen-name
        br
        span.timestamp
        br
        span.menu

    section#lunch
      div.meal Lunch

    section#snacks
      div.meal Snacks

    section#dinner
      div.meal Dinner

  footer
    | Source at
    |
    a(href='http://github.com/smlab-niser/niser-canteen-menu', target='_blank') github
    br
    |
    | Made with ♥ by
    |
    a(href='https://deshmukh.ml', target='_blank') Abhishek Anil Deshmukh
    br
    a(href='https://www.niser.ac.in/~smishra/index.html', target='_blank') Subhankar Mishra's LAB
