extends include/_base

block title
  title NISER | Canteen Menu

block append body
  header NISER | Canteen Menu
  main.swipe-view
    section.breakfast
      div.meal breakfast
      div.canteen-card
        span.canteen-code SOH-1
        br
        span.canteen-name Mahanadi
        br
        br
        span.menu Rice, roti, dalfry, cholle, masala, veg fre, papad

      div.canteen-card
        span.canteen-code SOH-2
        br
        span.canteen-name Mahanadi
        br
        br
        span.menu Rice, roti, dalfry, cholle, masala, veg fre, papad

      div.canteen-card
        span.canteen-code SOH-3
        br
        span.canteen-name Mahanadi
        br
        br
        span.menu Rice, roti, dalfry, cholle, masala, veg fre, papad

      div.canteen-card
        span.canteen-code SOH-4
        br
        span.canteen-name Mahanadi
        br
        br
        span.menu Rice, roti, dalfry, cholle, masala, veg fre, papad


    section.lunch
      div.meal lunch
      div.canteen-card
        span.canteen-code SOH-1
        br
        span.canteen-name Mahanadi
        br
        br
        span.menu Rice, roti, dalfry, cholle, masala, veg fre, papad

      div.canteen-card
        span.canteen-code SOH-2
        br
        span.canteen-name Mahanadi
        br
        br
        span.menu Rice, roti, dalfry, cholle, masala, veg fre, papad

      div.canteen-card
        span.canteen-code SOH-3
        br
        span.canteen-name Mahanadi
        br
        br
        span.menu Rice, roti, dalfry, cholle, masala, veg fre, papad

      div.canteen-card
        span.canteen-code SOH-4
        br
        span.canteen-name Mahanadi
        br
        br
        span.menu Rice, roti, dalfry, cholle, masala, veg fre, papad
